.container {
  padding: 0 80px;
}

.ant-layout-header {
  padding: 0px 80px !important;
}

.main {
  /* min-height: 100vh; */
  /* padding: 4rem 0; */
  /* flex: 1; */
  
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .container {
    padding: 0px !important;
    margin: 0 auto;
  }
}

html body .parkImage {
  object-fit: cover !important;
    vertical-align: bottom;
    border-radius: 16px;
}

html body .parkTitle {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0px;
}

html body .cardGallery {
  margin-top: 2rem;
}

.showMap {
  position: fixed;
  left: 0px;
  right: 0px;
  width: 100%;
  text-align: center;
  bottom: 80px;
}

html body .antBtn {
  background: rgb(34,34,34);
  color: #fff;
  font-weight: bold;
  border: 0px;
  border-radius: 32px;
  font-size: 1rem;
  padding: 8px 24px;
  box-sizing: border-box;
  height: auto;
}


html body .mainMenu {
  list-style-type: none;
  text-align: right;
  width: 100%;
  margin-top: -15px;
}

html body .mainMenu li {
  display: inline-block;
  margin: 0px 8px;
  font-size: .875rem;
  color: rgb(34,34,34);
  cursor: pointer;
  font-weight: 500;
}

html body .mainMenu li:not(:last-child) span {
  background-color: #fff;
  padding: 8px 20px;
  border-radius: 32px;
  transition: background-color .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out;
}

html body .mainMenu li:not(:last-child):hover span {
  background-color: #e8e8e8;
}

html body .header {
  border-bottom: 1px solid #e8e8e8;
}

html body .avatar {
  border: 1px solid #e8e8e8;
  padding: 12px 12px;
  border-radius: 32px;
}

html body .avatar:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

html body .pageHeader {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

html body .image {
  position: relative;
}

html body .actions {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  z-index: 8;
  display: flex;
  align-items: center;
}

html body .circle {
  background: #e8e8e8;
  border: 1px solid rgba(0,0,0,0);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  position: absolute;
  right: 56px;
  opacity: 0;
  transition: .2s opacity ease-in-out;
  -webkit-transition: .2s opacity ease-in-out;
}

html body .circle:hover {
  cursor: pointer;
  background: #fff;
  border: 1px solid #0070f3;
  color: #0070f3;
  width: 34px;
  height: 34px;
}

html body .card:hover .circle {
  opacity: 1;
}